VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
# demo | production
VITE_APP_MODE=demo
# Demo admin allowlist email (presentation mode)
VITE_ADMIN_EMAIL=admin@example.com
# Demo admin password (presentation mode)
VITE_ADMIN_PASSWORD=admin123
